//Styles for the Channels class
.Channels {
  font-weight: bold;
  display: inherit;
  color : black;

  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

// Styles for the p tag
.p{
  color:rgb(128, 128, 128);
  display:block;
}

//Styles for choosing a channel
.ChannelSelect{
  font-weight: bold;
  display:inline-flex;
  color : blue;
  background-color:white;
  border: 1px solid rgb(128, 128, 128);
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  box-shadow: 2px 3px rgb(128, 128, 128);
  box-shadow: 2px 3px rgba(128, 128, 128, 0.3);
  padding:5px 0px;
  width:95%;
  length:30%;

  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

//Styles for the dropdown list
.ChannelChoice{
  display: none;
  margin: 15px 15px;
  box-shadow: 2px 3px rgba(128, 128, 128, 0.3);
}

.Dropbtn{
  color: white;
  background: #c0bebe;
  border-radius: 10px;
  font-size: 35px;
  width: 40px;
  border:none;
  cursor: pointer;
  box-shadow: 3px 3px rgba(128, 128, 128, 0.3);
}

//Styles for the channel buttons
.ChannelBtn{
  padding: 0px 15px;
}

.SpeedBtn{
  text-decoration: none;
  border-radius: 40%;
  height: 40px;
  margin: 0px 10px;
  background-color : orange;
  color: white;
  cursor:pointer;
}

.ChannelBtn1{
  text-decoration: none;
  border-radius: 40%;
  height: 40px;
  margin: 0px 10px;
  background-color : red;
  color: white;
  cursor:pointer;
}

.ChannelBtn2{
  text-decoration: none;
  border-radius: 40%;
  height: 40px;
  margin: 0px 10px;
  background-color: purple;
  color: white;
  cursor:pointer;
}

.ChannelBtn3{
  text-decoration: none;
  border-radius: 40%;
  height: 40px;
  margin: 0px 10px;
  background-color: blue;
  color: white;
  cursor:pointer;
}
.ChannelBtn4{
  text-decoration: none;
  border-radius: 40%;
  height: 40px;
  margin: 0px 10px;
  background-color: green;
  color: white;
  cursor:pointer;
}

//This is for the dropdown button
.SquareBtn{
  height: 30px;
  width: 30px;
}

