.Table {
  font-weight: bold;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  color : black;
  border: 3px solid rgb(25,34, 25);
  border: 3px solid rgba(25,34, 25, 0.28);
  border-radius: 5px;
  width:95%;
  length:30%;


  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.tableStyles{

  table {
    border-spacing: 20px;
    border-radius: 5px;
  }
  tr{
    background-color:white;
  }
  input{
    background-color:white;
    border-radius: 10px;
  }

  .tableButton{
    background: grey;
    color: white;
    border-radius: 80px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}

form{
  background-color:white;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  box-shadow: 2px 3px rgba(128, 128, 128, 0.3);
  input{
    display:none;
  }
  .formButton{
    background: none;
    font-size: 50px;
    color: grey;
    border:none;
    cursor: pointer;
  }
}

.AddEntry{
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  display:flex;
}

.CircleBtn{
  width: 30px;
  height: 30px;
}

